USE [JabilDatabase]
GO
/****** Object:  Table [dbo].[Approval_8D]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Approval_8D](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[approval_status_WCM] [varchar](50) NOT NULL,
	[approval_status_QM] [varchar](50) NOT NULL,
	[comment_WCM] [text] NOT NULL,
	[comment_QM] [text] NOT NULL,
	[sent_date] [date] NOT NULL,
	[sent_time] [time](7) NOT NULL,
	[reject_count_WCM] [int] NOT NULL,
	[reject_count_QM] [int] NOT NULL,
	[scar_id] [varchar](50) NOT NULL,
 CONSTRAINT [PK_8D_Approval] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Defect_Category]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Defect_Category](
	[defect_category_ID] [int] IDENTITY(1,1) NOT NULL,
	[defect_category] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DefectCategory] PRIMARY KEY CLUSTERED 
(
	[defect_category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Defect_Group]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Defect_Group](
	[defect_group_ID] [int] IDENTITY(1,1) NOT NULL,
	[defect_group] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DefectGroup] PRIMARY KEY CLUSTERED 
(
	[defect_group_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Defect_Modes]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Defect_Modes](
	[defect_ID] [int] IDENTITY(1,1) NOT NULL,
	[defect_code] [numeric](5, 0) NOT NULL,
	[IPC_code] [varchar](50) NULL,
	[defect_name] [varchar](100) NOT NULL,
	[defect_group] [varchar](100) NOT NULL,
	[defect_category] [varchar](50) NOT NULL,
	[defect_description] [text] NOT NULL,
 CONSTRAINT [PK_DefectModes] PRIMARY KEY CLUSTERED 
(
	[defect_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_ID] [varchar](50) NOT NULL,
	[employee_name] [varchar](50) NOT NULL,
	[employee_email] [varchar](50) NOT NULL,
	[employee_position] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[privilege] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Notice]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notice](
	[hash] [nvarchar](50) NOT NULL,
	[Notice_From] [nvarchar](max) NOT NULL,
	[Notice_To] [nvarchar](max) NOT NULL,
	[Notice_Subject] [nvarchar](max) NOT NULL,
	[Notice_Body] [nvarchar](max) NOT NULL,
	[Notice_Timestamp] [nchar](20) NOT NULL,
	[Read_Status] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Root_Cause_Option]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Root_Cause_Option](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[root_cause] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SCAR_attachments]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SCAR_attachments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_name] [nvarchar](max) NOT NULL,
	[file_type] [nvarchar](max) NOT NULL,
	[file_path] [nvarchar](max) NOT NULL,
	[scar_id] [varchar](50) NOT NULL,
 CONSTRAINT [PK_scar_attachments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SCAR_Request]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SCAR_Request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[scar_stage] [varchar](50) NOT NULL,
	[scar_type] [varchar](50) NOT NULL,
	[scar_status] [varchar](50) NOT NULL,
	[car_no] [varchar](50) NOT NULL,
	[car_revision] [varchar](50) NOT NULL,
	[car_type] [varchar](50) NOT NULL,
	[pre_alert] [varchar](50) NOT NULL,
	[related_car_no] [varchar](50) NOT NULL,
	[related_car_ref] [varchar](50) NOT NULL,
	[originator] [varchar](50) NOT NULL,
	[recurrence] [varchar](50) NOT NULL,
	[supplier_contact] [varchar](50) NOT NULL,
	[supplier_email] [varchar](50) NOT NULL,
	[issued_date] [date] NOT NULL,
	[originator_dept] [varchar](50) NOT NULL,
	[originator_contact] [varchar](50) NOT NULL,
	[part_no] [varchar](50) NOT NULL,
	[part_description] [text] NOT NULL,
	[business_unit] [varchar](50) NOT NULL,
	[dept_pl] [varchar](50) NOT NULL,
	[commodity] [varchar](50) NOT NULL,
	[defect_quantity] [int] NOT NULL,
	[defect_type] [varchar](50) NOT NULL,
	[non_conformity_reported] [text] NOT NULL,
	[reject_reason] [text] NOT NULL,
	[expected_date_close] [date] NOT NULL,
	[save_status] [varchar](50) NOT NULL,
	[file_name] [nvarchar](100) NULL,
	[file_path] [nvarchar](255) NULL,
 CONSTRAINT [PK_SCAR_Request_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SCAR_Response]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SCAR_Response](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[root_cause_option] [varchar](50) NOT NULL,
	[s0_overall_summary] [text] NOT NULL,
	[s1_problem_verification] [text] NOT NULL,
	[problem_verification_status] [varchar](50) NOT NULL,
	[s21_containment_action] [text] NOT NULL,
	[s22_implementation_date] [date] NOT NULL,
	[s23_responsible_person] [text] NOT NULL,
	[s24_containment_result] [text] NOT NULL,
	[screening_area] [varchar](50) NOT NULL,
	[track_containment_action] [varchar](50) NOT NULL,
	[s31_failure_analysis] [varchar](50) NOT NULL,
	[s32_failure_analysis_results] [text] NOT NULL,
	[s4_man] [text] NOT NULL,
	[s4_method] [text] NOT NULL,
	[s4_material] [text] NOT NULL,
	[s4_machine] [text] NOT NULL,
	[s51_corrective_action] [text] NOT NULL,
	[s52_implementation_date] [date] NOT NULL,
	[s53_responsible_person] [text] NOT NULL,
	[track_corrective_action] [varchar](50) NOT NULL,
	[s61_permanent_corrective_action] [text] NOT NULL,
	[s62_implementation_date] [date] NOT NULL,
	[s63_responsible_person] [text] NOT NULL,
	[track_permanent_corrective_action] [varchar](50) NOT NULL,
	[s71_verify_corrective_action_effectiveness] [text] NOT NULL,
	[s72_implementation_date] [date] NOT NULL,
	[s73_responsible_person] [text] NOT NULL,
	[s74_verifier] [text] NOT NULL,
	[s75_verifier_email] [varchar](50) NOT NULL,
	[s76_verify_corrective_action_result_effectiveness] [text] NOT NULL,
	[defect_modes] [varchar](50) NOT NULL,
	[mor_calculated] [varchar](50) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[scar_id] [int] NOT NULL,
 CONSTRAINT [PK_SCAR_Response] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAT]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAT](
	[SCAR_ID] [varchar](50) NOT NULL,
	[employee_ID] [varchar](100) NOT NULL,
	[issued_date] [date] NOT NULL,
	[escalation_level] [tinyint] NOT NULL,
	[trigger_date] [date] NOT NULL,
	[escalation_count] [tinyint] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAT_Reference]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAT_Reference](
	[escalation_level] [tinyint] NOT NULL,
	[escalation_level_desc] [varchar](50) NOT NULL,
	[days_to_escalation] [tinyint] NOT NULL,
	[notify_QM] [bit] NOT NULL,
	[notify_WCM] [bit] NOT NULL,
 CONSTRAINT [PK_TAT Reference_1] PRIMARY KEY CLUSTERED 
(
	[escalation_level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAT_Relationship]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAT_Relationship](
	[employee_ID] [numeric](3, 0) NOT NULL,
	[employee_name] [varchar](50) NOT NULL,
	[employee_email] [varchar](50) NOT NULL,
	[qm_name] [varchar](50) NOT NULL,
	[qm_email] [varchar](50) NOT NULL,
	[wcm_name] [varchar](50) NOT NULL,
	[wcm_email] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThirdQuadrantReport]    Script Date: 13/5/2015 5:14:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThirdQuadrantReport](
	[thirdQuadrantID] [int] IDENTITY(1,1) NOT NULL,
	[workingWeek] [varchar](50) NOT NULL,
	[productDefect] [varchar](50) NOT NULL,
	[CAPA] [varchar](100) NOT NULL,
	[PIC] [varchar](50) NOT NULL,
	[dueDate] [date] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ThirdQuadrantReport] PRIMARY KEY CLUSTERED 
(
	[thirdQuadrantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Defect_Category] ON 

INSERT [dbo].[Defect_Category] ([defect_category_ID], [defect_category]) VALUES (1, N'Component')
INSERT [dbo].[Defect_Category] ([defect_category_ID], [defect_category]) VALUES (2, N'Placement')
INSERT [dbo].[Defect_Category] ([defect_category_ID], [defect_category]) VALUES (3, N'Termination')
SET IDENTITY_INSERT [dbo].[Defect_Category] OFF
SET IDENTITY_INSERT [dbo].[Defect_Group] ON 

INSERT [dbo].[Defect_Group] ([defect_group_ID], [defect_group]) VALUES (1, N'SYSTEM BUILD / PRINTED CIRCUIT BOARD ASSEMBLY (PCBA)')
INSERT [dbo].[Defect_Group] ([defect_group_ID], [defect_group]) VALUES (2, N'OPTICAL ')
INSERT [dbo].[Defect_Group] ([defect_group_ID], [defect_group]) VALUES (3, N'PLASTIC INJECTION / METAL CHASIS')
SET IDENTITY_INSERT [dbo].[Defect_Group] OFF
SET IDENTITY_INSERT [dbo].[Defect_Modes] ON 

INSERT [dbo].[Defect_Modes] ([defect_ID], [defect_code], [IPC_code], [defect_name], [defect_group], [defect_category], [defect_description]) VALUES (1, CAST(1 AS Numeric(5, 0)), N'5.2.7.2', N'SHORT / BRIDGING', N'SOLDERING', N'Termination', N'The unwanted formation of a conductive path of solder between conductors')
INSERT [dbo].[Defect_Modes] ([defect_ID], [defect_code], [IPC_code], [defect_name], [defect_group], [defect_category], [defect_description]) VALUES (2, CAST(2 AS Numeric(5, 0)), N'8.3.1.3', N'INSUFF SOLDER', N'SOLDERING', N'Termination', N'Insufficient amount of solder on a lead, pad or terminal ')
INSERT [dbo].[Defect_Modes] ([defect_ID], [defect_code], [IPC_code], [defect_name], [defect_group], [defect_category], [defect_description]) VALUES (3, CAST(3 AS Numeric(5, 0)), N'8.3.12.6', N'MISSING', N'SYSTEM BUILD / PRINTED CIRCUIT BOARD ASSEMBLY (PCBA)', N'Placement', N'Missing component that is required to be on built product')
SET IDENTITY_INSERT [dbo].[Defect_Modes] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([id], [employee_ID], [employee_name], [employee_email], [employee_position], [password], [privilege]) VALUES (1, N'1', N'Lee Boon Chung', N'bclee_92@hotmail.com', N'Work Cell Manager', N'1234', N'Manager')
INSERT [dbo].[Employee] ([id], [employee_ID], [employee_name], [employee_email], [employee_position], [password], [privilege]) VALUES (2, N'2', N'Eugene Phuah', N'eugenephuah92@gmail.com', N'Quality Manager', N'1234', N'Manager')
INSERT [dbo].[Employee] ([id], [employee_ID], [employee_name], [employee_email], [employee_position], [password], [privilege]) VALUES (3, N'3', N'Evon Tan', N'evon_tcy92@hotmail.com', N'Quality Manager', N'1234', N'Manager')
SET IDENTITY_INSERT [dbo].[Employee] OFF
INSERT [dbo].[Notice] ([hash], [Notice_From], [Notice_To], [Notice_Subject], [Notice_Body], [Notice_Timestamp], [Read_Status]) VALUES (N'F84B2E9675E44A294E4C660962CE5B41', N'TAT Reporting Services', N'Shazmeen Zainudin', N'P-SOQANP-140916 1st Reminder', N'SCAR Request P-SOQANP-140916 has been created', N'Apr 30 2015 12:00AM ', 1)
INSERT [dbo].[Notice] ([hash], [Notice_From], [Notice_To], [Notice_Subject], [Notice_Body], [Notice_Timestamp], [Read_Status]) VALUES (N'F4384D483B53CEEF956499A2425A788C', N'TAT Reporting Services', N'Shazmeen Zainudin', N'P-SOQANP-140917 1st Reminder', N'SCAR Request P-SOQANP-140917 has been created', N'Apr 30 2015 12:00AM ', 1)
INSERT [dbo].[Notice] ([hash], [Notice_From], [Notice_To], [Notice_Subject], [Notice_Body], [Notice_Timestamp], [Read_Status]) VALUES (N'495E221FCDB6E2EA33C001036FA0CCE2', N'TAT Reporting Services', N'Shazmeen Zainudin', N'P-SOQANP-140918 1st Reminder', N'SCAR Request P-SOQANP-140918 has been created', N'Apr 30 2015 12:00AM ', 1)
GO
SET IDENTITY_INSERT [dbo].[Root_Cause_Option] ON 

INSERT [dbo].[Root_Cause_Option] ([id], [root_cause]) VALUES (1, N'Agilent and CM joint issue - Material')
INSERT [dbo].[Root_Cause_Option] ([id], [root_cause]) VALUES (2, N'CM (Product) - Assembly')
INSERT [dbo].[Root_Cause_Option] ([id], [root_cause]) VALUES (3, N'CM (Product) - Documentation')
SET IDENTITY_INSERT [dbo].[Root_Cause_Option] OFF
SET IDENTITY_INSERT [dbo].[SCAR_Request] ON 

GO
SET IDENTITY_INSERT [dbo].[SCAR_Request] OFF
INSERT [dbo].[TAT] ([SCAR_ID], [employee_ID], [issued_date], [escalation_level], [trigger_date], [escalation_count]) VALUES (N'P-SOQANP-140916', N'Shazmeen Zainudin', CAST(0xAC390B00 AS Date), 6, CAST(0xC5390B00 AS Date), 2)
INSERT [dbo].[TAT] ([SCAR_ID], [employee_ID], [issued_date], [escalation_level], [trigger_date], [escalation_count]) VALUES (N'P-SOQANP-140917', N'Shazmeen Zainudin', CAST(0xAC390B00 AS Date), 2, CAST(0xB7390B00 AS Date), 1)
INSERT [dbo].[TAT] ([SCAR_ID], [employee_ID], [issued_date], [escalation_level], [trigger_date], [escalation_count]) VALUES (N'P-SOQANP-140918', N'Shazmeen Zainudin', CAST(0xAC390B00 AS Date), 6, CAST(0xC3390B00 AS Date), 2)
GO
INSERT [dbo].[TAT_Reference] ([escalation_level], [escalation_level_desc], [days_to_escalation], [notify_QM], [notify_WCM]) VALUES (0, N'SCAR Issuance', 6, 1, 1)
INSERT [dbo].[TAT_Reference] ([escalation_level], [escalation_level_desc], [days_to_escalation], [notify_QM], [notify_WCM]) VALUES (1, N'1st Reminder', 3, 0, 0)
INSERT [dbo].[TAT_Reference] ([escalation_level], [escalation_level_desc], [days_to_escalation], [notify_QM], [notify_WCM]) VALUES (2, N'1st Escalation', 2, 1, 0)
INSERT [dbo].[TAT_Relationship] ([employee_ID], [employee_name], [employee_email], [qm_name], [qm_email], [wcm_name], [wcm_email]) VALUES (CAST(100 AS Numeric(3, 0)), N'Shazmeen Zainudin', N'coconut@gmail.com', N'Banana', N'banana@email.com', N'Durian', N'durian@durain.com')
ALTER TABLE [dbo].[TAT]  WITH CHECK ADD  CONSTRAINT [FK_TAT_TAT Reference] FOREIGN KEY([escalation_level])
REFERENCES [dbo].[TAT_Reference] ([escalation_level])
GO
ALTER TABLE [dbo].[TAT] CHECK CONSTRAINT [FK_TAT_TAT Reference]
GO
